.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100dvh - 188px);
    padding: 2rem 0;
}

.card-produto {
    max-width: 1000px;
    display: flex;
    align-items: center;
    gap: 3rem;
    padding: 1rem;
}

.card-produto-imagem {
    width: calc(40% - 1.5rem);
}

.produto-imagem {
    width: 100%;
    max-width: 500px;
}

.card-produto-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: calc(60% - 1.5rem);
}

.produto-categoria {
    color: var(--cor-secundaria);
    font-weight: 600;
}

.produto-nome {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
}

.produto-descricao {
    color: var(--cinza-escuro);
    line-height: 1.5rem;
    padding: .5rem 0;
}

.produto-preco {
    font-size: 2rem;
    font-weight: 700;
}

.card-produto-botoes {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.quantidade-produto-container {
    width: 150px;
    display: flex;
    align-items: center;
    background-color: var(--cinza);
    border: 1px solid var(--cinza);
    border-radius: 8px;
}

.btn-quantidade-produto-menos,
.quantidade-produto,
.btn-quantidade-produto-mais {
    width: 33%;
    background-color: var(--cinza);
}

.btn-quantidade-produto-menos,
.btn-quantidade-produto-mais {
    border: 1px solid transparent;
    color: var(--cor-primaria);
    font-size: 2rem;
    cursor: pointer;
}

.btn-quantidade-produto-menos {
    border-radius: 8px 0 0 8px;
}

.quantidade-produto {
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
}

.btn-quantidade-produto-mais {
    border-radius: 0 8px 8px 0;
}

.btn-add-carrinho {
    width: 70%;
    height: 43px;
    border: 1px solid var(--cor-primaria);
    border-radius: 8px;
    background-color: var(--cor-primaria);
    font-size: 1rem;
    font-family: var(--fonte-primaria);
    color: var(--branco);
    cursor: pointer;
    transition: .5s;
}

    .btn-add-carrinho:hover {
        background-color: var(--branco);
        color: var(--cor-primaria);
    }

@media (max-width: 800px) {
    .card-produto {
        flex-direction: column;
        justify-content: center;
    }

    .card-produto-imagem {
        width: 400px;
    }

    .card-produto-info {
        width: 400px;
    }

    .card-produto-botoes {
        flex-direction: column;
    }

    .btn-add-carrinho {
        width: 100%;
    }
}

@media (max-width: 450px) {
    .card-produto-imagem {
        width: 80%;
    }

    .card-produto-info {
        width: 80%;
    }

    .produto-nome {
        font-size: 1.7rem;
    }
}
